<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kg.evoschool">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--    <uses-permission android:name="android.permission.RECORD_AUDIO" />-->
    <!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Evo"
        android:usesCleartextTraffic="true">
        <activity android:name="kg.evoschool.EditProfileActivity" />
        <activity
            android:name=".Api.SignUpActivity"
            android:label="@string/title_activity_login" />
        <activity android:name="kg.evoschool.LogInSignUpActivity" />
        <activity android:name="kg.evoschool.PlayerActivity" />
        <activity android:name="kg.evoschool.SoundsActivity" />
        <activity android:name="kg.evoschool.MainActivity" />
        <activity android:name="kg.evoschool.LogInActivity" />
        <activity android:name="kg.evoschool.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>